#mix-area {
  margin-bottom: 25vh;
}


.output-header {
  text-align: center;
}

.sub-header {
  padding-bottom: 0.20em;
}

.vertical-padding {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.browse-label {
  padding: 0.33em;
}

.no-right-border {
  border-right: none !important;
}

.left-percentage {
  padding-right: 2em;
}

.right-percentage {
  padding-left: 2em;
}

.smallNumber {
  color: #666666;
}

.form-check-label {
  padding-left: 1em;
}

.no-bold-label {
  font-weight: normal !important;
}

.no-margin-bottom {
  margin-bottom: 0 ;
}

.file-select {
  padding-left: 1em;
  padding-right: 1em;
}

.file-select-name {
  border-right: none;
}

.file-select-button {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}