#mix-area {
  margin-bottom: 25vh;
}

#description {
  padding-bottom: 2em;
  padding-left: 2em;
}

.output-header {
  text-align: center;
}

.sub-header {
  padding-bottom: 0.20em;
}

.browse-button {
  margin: 0.33em;
}

.browse-label {
  padding: 0.33em;
}

.no-right-border {
  border-right: none !important;
}

.left-percentage {
  padding-right: 2em;
}

.right-percentage {
  padding-left: 2em;
}

.smallNumber {
  color: #666666;
}