body {
  background-color: #ede7f6;
}

#main-content {
  background-clip: content-box;
  background-color: white;
  min-height: 100vh;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 0;
}
